<!-- Форма добавления комментария -->
{% load user_filters %}
<style>
.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  background: #eaffe7;
}
.btn-primary {
    color: #000;
    background-color: #fdfdfd;
    border-color: #cfcfcf;
}
.card-header {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    background-color: #8cd083;
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
    color: #282828;
    background-color: #8cd083;
    border-color: #9f9f9f;
}
</style>
{% if user.is_authenticated %}
  <div class="card my-4">
    <h5 class="card-header">Оставить заявку:</h5>
    <div class="card-body">
      <form method="post" action="#">
        {% csrf_token %}
        <div class="form-group mb-2">
            {% comment %} <div class="row form-control"> {% endcomment %}
            <input class="form-control" value="{{ request.user.get_full_name }}" placeholder="Ваше имя" type="text" name="fio" required style="margin-bottom: 5px;">
            <input class="form-control" value="{{ request.user.email }}" placeholder="Ваш e-mail" type="email" name="email" style="margin-bottom: 10px;">
            <textarea class="form-control" name="message" cols="50" rows="10" placeholder="Напишите ваше сообщение сюда..."></textarea>
            {% comment %} </div> {% endcomment %}
        </div>
        {% comment %} <div class="form-group mb-2">
          {{ form.text|addclass:"form-control" }}
        </div> {% endcomment %}
        <button type="submit" class="btn btn-primary">Отправить</button>
      </form>
    </div>
  </div>
{% endif %}